body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.restaurant-menu {
  max-width: 95%;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  background-color: #c6c6c6;

  /* Gradient Background */
  animation: gradientAnimation 8s ease infinite alternate; /* Gradient Animation */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

h2 {
  color: #333;
  margin-bottom: 15px;
  font-size: 1.5em;
  transition: color 0.3s ease; /* Title color transition */
}

.category-buttons {
  margin-bottom: 20px;
}

button {
  background-color: #2f2f2f; /* Match gradient start color #fce38a */
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #fce38a; /* Match gradient end color on hover */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 3px solid #ccc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 30px;
  background-color: #e2e2e2;
}

li:hover {
  background-color: #e2e2e2;
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.item-name {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.2em;
}

.item-price {
  color: #777;
  font-weight: 500;
}

.ingredients {
  margin-top: 15px;
}

.ingredients ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.ingredients li {
  color: #555;
  font-size: 0.9em;
}

.empty-strong,
.ingredients-strong {
  margin-bottom: 8px;
}

.clicked {
  transform: scale(1.2);
  background-color: #fad02c;
  color: black;
}

@media only screen and (max-width: 768px) {
  .restaurant-menu {
    padding: 15px;
    width: 90%;
    max-width: 100%;
  }

  li {
    padding: 15px;
    border-radius: 20px;
  }

  .item-name {
    font-size: 1em;
  }

  .item-price {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 576px) {
  .restaurant-menu {
    padding: 10px;
    max-width: 100%;
    width: 95%;
  }

  li {
    padding: 10px;
    border-radius: 15px;
  }

  button {
    padding: 8px 12px;
    border-radius: 15px;
  }

  .item-name {
    font-size: 0.9em;
  }

  .item-price {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 1200px) {
  .restaurant-menu {
    width: 90%;
  }
}
