/* DeleteConfirmationModal.css */

.delete-confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 80%;
  width: 300px;
}

.delete-confirmation-title {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.delete-confirmation-modal p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.delete-confirmation-buttons {
  display: flex;
  justify-content: center;
}

.delete-confirm-button,
.delete-cancel-button {
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.delete-confirm-button:hover {
  background-color: #ff6347;
}

.delete-cancel-button:hover {
  background-color: #ccc;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  .delete-confirmation-modal {
    padding: 20px;
    width: 80%;
  }

  .delete-confirmation-title {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .delete-confirmation-modal p {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .delete-confirm-button,
  .delete-cancel-button {
    padding: 6px 12px;
    font-size: 1rem;
  }
}
